*.log
*.pot
*.pyc
*__pycache__*
local_settings.py
db.sqlite3
db.sqlite3-journal
media
.idea/*
tmp
accounts/migrations
conference/migrations
gsp/migrations
reviewer/migrations
area_chair/migrations
**/migrations