<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static '/css/style_general.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/style_upper_menu.css' %}">
    <link rel="icon" type="image/ico" href="{% static '/images/favicon.ico' %}">
    <title>Area Chair</title>
  </head>

  <body>

    <ul class="nav justify-content-end border-bottom border-info">
      <li class="nav-item">
          <a href="/conference/redirect_userpage" class="nav-link active">Home</a>
      </li>

      {% if is_logged_in == True %}
      <li class="nav-item">
          <a href="/conference/redirect_assigned_papers" class="nav-link">Assigned Papers</a>
      </li>
      {% endif %}

      {% if is_logged_in == False %}
      <li class="nav-item">
          <a href="/conference/redirect_login" class="nav-link">Log In</a>
      </li>
      {% endif %}

      {% if is_logged_in == False %}
      <li class="nav-item">
          <a href="/conference/redirect_signup" class="nav-link">Sign Up</a>
      </li>
      {% endif %}

      {% if is_logged_in == True %}
      <li class="nav-item">
          <a href="/conference/redirect_logout" class="nav-link">Log Out</a>
      </li>
      {% endif %}

    </ul> 
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-8">
          <h1 class="mt-2"></h1>
          <hr class="mt-0 mb-4">
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>