{% extends 'gsp_base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<h1 class="mt-2">{{ conf_name }}</h1>

<button type="submit" class="btn btn-outline-secondary" button onclick="location.href = '/conference/details/{{ conf_name }}'">Click here to view conference details</button>

<button type="submit" class="btn btn-outline-secondary" button onclick="location.href = '/gsp/{{ conf_name }}/new_submission';">New Submission +</button>

<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Status</th>
            <th scope="col" colspan="2" style="text-align:center;">Action</th>
        </tr>    
    </thead>

    <tbody>
        {% for submission in submissions %}
            {% comment %}
            see https://stackoverflow.com/questions/48438575/call-django-on-html-button-click/48438962
            {% endcomment %}
            <tr>
                <td>{{ submission.title }}</td>
                <td>{{ submission.status }}</td>
                <td><button type="button" class="btn btn-warning"><a href="/gsp/{{ conf_name }}/{{ submission.title }}/edit" style="color:white;">Edit</a></button></td>
                <td><button type="button" class="btn btn-danger"><a href="/gsp/{{ conf_name }}/{{ submission.title }}/withdraw" style="color:white;">Withdraw</a></button></td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}