{% extends 'gsp_base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<h1 class="mt-2">{{ conf_name }}</h1>

<a href="/conference/details/{{ conf_name }}" class="btn btn-outline-secondary">Conference Details</a>
{% if has_edit_conf_rights %}
    <a href="/conference/update_conference/{{ conf_name }}" class="btn btn-outline-secondary">Update Conference</a>
{% endif %}
<a href="/gsp/{{ conf_name }}/new_submission" class="btn btn-outline-secondary" style="float: right;">+ New Submission</a>
<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
        </tr>    
    </thead>

    <tbody>
        {% for submission in submissions %}
            {% comment %}
            see https://stackoverflow.com/questions/48438575/call-django-on-html-button-click/48438962
            {% endcomment %}
            <tr>
                <td>{{ submission.title }}</td>
                <td>{{ submission.status }}</td>
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Take Action
                        </button>
                        <div class="dropdown-menu">
                            <a href="/gsp/{{ conf_name }}/{{ submission.title }}/edit" class="dropdown-item">Edit</a>
                            <a href="/gsp/{{ conf_name }}/{{ submission.title }}/withdraw" class="dropdown-item">Withdraw</a>
                        </div>
                    </div>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}