{% extends 'reviewer_base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<h1>Sanity check Assignment Code in reviewer.views.py line 52</h1>

<div class="container">
    <div class="card">
        <h5 class="card-header text-white bg-primary">Papers for Reviewing</h5>
        <div class="card-body text-black bg-light">
            {% if conf_assignments %}
                {% for assignment in conf_assignments %}
                <div class="card">
                    <div class="card-body" style="width: 25rem;">
                        <h5 class="card-title">{{ assignment.title }}</h5>
                        <p class="card-text">{{ assignment.conference.name }}</p>
                        <a href="/reviewer/{{ assignment.conference.name }}/make_review/{{ assignment.title }}" class="btn btn-warning">Make Review</a>
                        <a href="/reviewer/{{ assignment.conference.name }}/edit_review/{{ assignment.title }}" class="btn btn-warning">Edit Review</a>
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <h4>No reviews assigned.</h4>
            {% endif %}
        </div>
        <div class="card-footer bg-white"></div>
    </div>

    <div class="card">
        <h5 class="card-header text-white bg-primary">Papers for Final Area Chair Decision</h5>
        <div class="card-body text-black bg-light">
            {% if ac_assignment %}
                {% for assignment in ac_assignment %}
                <div class="card">
                    <div class="card-body" style="width: 25rem;">
                        <h5 class="card-title">{{ assignment.title }}</h5>
                        <p class="card-text">{{ assignment.conference.name }}</p>
                        <a href="/area_chair/{{ assignment.conference.name }}/make)_decision/{{ assignment.title }}" class="btn btn-warning">Make Decision</a>
                        <a href="/area_chair/{{ assignment.conference.name }}/edit_decision/{{ assignment.title }}" class="btn btn-warning">Edit Decision</a>
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <h4>No Acc-Rej decision assigned.</h4>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}