{%extends "base.html" %}

{% block content %}

{{ user_message }}

<form action="change_password_process" method="post">
    {% csrf_token %}

    <div class="panel panel-info" style="margin: 1em;">
        <div class="panel-heading">
            <h3 class="panel-title"><label for="old_password" class="control-label panel-title">Old Password</label></h3>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <div class="col-sm-10">
                    <input type="password" class="form-control" name="old_password" id="old_password" >
                </div>
            </div>

        </div>
    </div>

    <div class="panel panel-info" style="margin: 1em;">
        <div class="panel-heading">
            <h3 class="panel-title"><label for="new_password" class="control-label panel-title">New Password</label></h3>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <div class="col-sm-10">
                    <input type="password" class="form-control" name="new_password" id="new_password" >
                </div>
            </div>

        </div>
    </div>


    <div class="panel panel-info" style="margin: 1em;">
        <div class="panel-heading">
            <h3 class="panel-title"><label for="confirm_password" class="control-label panel-title">Confirm password</label></h3>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <div class="col-sm-10">
                    <input type="password" class="form-control" name="confirm_password" id="confirm_password" >
                </div>
            </div>
        </div>
    </div>

    <input type="submit" value="Save">

</form>

{% endblock %}