{% extends "base_acc.html" %}
{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static '/css/style_signup_login_form.css' %}">
{% endblock %}

{% block content %}

<div class="alert alert-danger" role="alert">
    {{ user_message }}
</div>

<div class="container">
    <form action="forgot_password" method="post">
        {% csrf_token %}
        <input type="text" placeholder="e-mail" name="email">
        <br>
        <input type="text" placeholder="Type Your Security Question" name="security question">
        <br>
        <input type="text" placeholder="Type Your Security Answer" name="security answer">
        <br>

        <input type="submit" value="Submit Details" class="btn btn-secondary">
    </form>
</div>


{% endblock %}