{% extends 'conference_base.html' %}

{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<h1 class="mt-2">Conferences list</h1>
<button type="button" class="btn btn-light" style="float: right;"><a href="create_conference">+ Create Conference</a></button>
<table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Start Date</th>
        <th scope="col">End Date</th>
        <th scope="col">Location</th>
        <th scope="col">External URL</th>
      </tr>
    </thead>

    <tbody>
        {% for conf in confs %}
            {% if conf.is_valid %}   
                <tr>
                    <td><a href="/gsp/{{ conf.name }}/existing_conf_submissions">{{ conf.name }}</td>
                    <td>{{ conf.start_date }}</td>
                    <td>{{ conf.end_date }}</td>
                    <td>{{ conf.location }}</td>
                    <td><a href="#">{{ conf.url }}</td>
                    <!-- <td><button onclick="location.href = '/gsp/{{ conf.name }}/new_submission';">Create Submission</button></td> -->
                </tr>
            {% endif %}
        {% endfor %}
    </tbody>
</table>
  
<h1 class="mt-2">Workshops list</h1>
<button type="button" class="btn btn-light" style="float: right;"><a href="create_workshop">+ Create Workshop</a></button>
<table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Parent Conference</th>
        <th scope="col">Start Date</th>
        <th scope="col">End Date</th>
        <th scope="col">Location</th>
        <th scope="col">External URL</th>
      </tr>
    </thead>

    <tbody>
        {% for workshop in workshops %}
            {% if workshop.is_valid %}   
                <tr>
                    <td><a href="#">{{ workshop.name }}</td>
                    <td><a href="#">{{ workshop.parent_conference_name }}</td>
                    <td>{{ workshop.start_date }}</td>
                    <td>{{ workshop.end_date }}</td>
                    <td>{{ workshop.location }}</td>
                    <td><a href="#">{{ workshop.url }}</td>
                </tr>
            {% endif %}
        {% endfor %}
    </tbody>
</table>
  
{% endblock %}