{% extends 'conference_base.html' %}

{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li>{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<h1 class="mt-2">Conferences list</h1>
<button type="button" class="btn btn-light" style="float: right;"><a href="create_conference">+ Create Conference</a></button>
<table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">Logo</th>
        <th scope="col">Name</th>
        <th scope="col">Start Date</th>
        <th scope="col">End Date</th>
        <th scope="col">Location</th>
        <th scope="col">External URL</th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>

    <tbody>
        {% for conf, is_ca_conf, is_invited_as_rev in confs_list %}
            {% if conf.is_valid %}   
                <tr>
                    <td><img src="{{ conf.logo_url }}" alt=" " width="65" height="65"></td>
                    <td><a href="/gsp/{{ conf.name }}/existing_conf_submissions">{{ conf.name }}</td>
                    <td>{{ conf.start_date }}</td>
                    <td>{{ conf.end_date }}</td>
                    <td>{{ conf.location }}</td>
                    <td><a href="#">{{ conf.url }}</a></td>

                    {% if is_invited_as_rev %}
                    <td><button onclick="location.href = '/reviewer/{{ conf.name }}/apply_as_a_reviewer';">Apply as Reviewer</button></td>
                    {% endif %}

                    {% if is_ca_conf %}
                    <td><button onclick="location.href = '/area_chair/{{ conf.name }}/select_area_chair';">Select ACs</button></td>
                    <td><button onclick="location.href = '/reviewer/{{ conf.name }}/invite_reviewers';">Invite Reviewers</button></td>
                    <td><button onclick="location.href = '/reviewer/{{ conf.name }}/automated_reviewer_assignment';">Automated Reviewer Assignment</button></td>
                    <td><button onclick="location.href = '/reviewer/{{ conf.name }}/manual_reviewer_assignment';">Manual Reviewer Assignment</button></td>
                    {% endif %}
                    <!-- <td><button onclick="location.href = '/gsp/{{ conf.name }}/new_submission';">Create Submission</button></td> -->
                </tr>
            {% endif %}
        {% endfor %}
    </tbody>
</table>
  
  
{% endblock %}